---
name: Python tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  lint-rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt, clippy
      - name: Lint Rust library
        run: |
          bash scripts/lint.sh

  unit-test-rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install dependencies
        run: |
          bash scripts/unit-test.sh

  test-linux-wheels:
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      matrix:
        platform:
          - runner: ubuntu-latest
            target: x86_64
            manylinux: "2014"
          - runner: ubuntu-latest
            target: aarch64
            manylinux: "2014"
          - runner: ubuntu-latest
            target: x86_64
            manylinux: "2_28"
          - runner: ubuntu-latest
            target: aarch64
            manylinux: "2_28"
          - runner: ubuntu-latest
            target: x86_64
            manylinux: "musllinux_1_2"
          - runner: ubuntu-latest
            target: aarch64
            manylinux: "musllinux_1_2"
        python:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist --find-interpreter --locked --compatibility pypi -i python${{ matrix.python }}
          sccache: ${{ !startsWith(github.ref, 'refs/tags/') }}
          manylinux: ${{ matrix.platform.manylinux }}
      - name: Install wheel
        run: |
          uv venv
          uv pip install ./dist/*.whl
      - name: Test wheel
        run: |
          uv run python scripts/integration_test.py
